<div>
  <div class="container">
    <input type="text" placeholder="Search..."
    [(ngModel)]="query" (keyup.enter)="updateData()"
    (keyup.backspace)="this.data = []"
    >
    <div class="search"></div>
  </div>  
</div>
<div *ngIf="data" class="results">
  <ul>
    <li *ngFor="let item of data">
     <a [href]="item.link"
      
      target="_blank"
     
     >{{ item.title }}</a> 
    </li>
  </ul>
</div>
<div class="footer" *ngIf="data.length">
  <button class="btn-icon" (click)="updateOffset(this.offset - 1)"
  *ngIf="offset > 0"
  ><</button>
  <span>{{ offset + 1 }} </span>
  <button class="btn-icon" (click)="updateOffset(this.offset + 1)">></button>
