<div>
  <div class="container">
    <input type="text" placeholder="Search..."
    [(ngModel)]="this.query" (keyup.enter)="updateData()"
    (input)="updateData()">
    <div class="search"></div>
  </div>  
</div>
<div>
  <button (click)="updateOffset(this.offset - 1)"><</button>
  <span>{{this.offset+1}}</span>
  <button (click)="updateOffset(this.offset + 1)">></button>
</div>

<div *ngIf="data" class="results">
  <ul>
    <li *ngFor="let item of data">
     <a [href]="item.link"
      
      target="_blank"
     
     >{{ item.title }}</a> 
    </li>
  </ul>
</div>

